@tailwind base;
@tailwind components;
@tailwind utilities;


/* Root Start */
.body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;
}
.button-yellow {
  @apply bg-button2 text-white px-5 py-2 rounded-lg;
}
.button-red {
  @apply bg-[#E7230D] text-white px-5 py-2 rounded-lg;
}
.button-green {
  @apply bg-green-500 text-white px-5 py-2 rounded-lg;
}
.button-blue {
  @apply bg-sky-400 text-white px-5 py-1;
}
/* Root End */

/* Navbar Start */
nav {
  @apply bg-bg2 py-3 lg:py-5 text-white flex items-center fixed w-full justify-between px-3 lg:px-10;
}
.nav-tittle {
  @apply font-extrabold text-lg lg:text-4xl;
}
.nav-sub-tittle {
  @apply text-[9px] lg:text-base pt-2 lg:pt-0;
}
.nav-a {
  filter: invert(100%);
  @apply w-[25px] lg:w-[35px];
}
/* Navbar End */

/* Index Start */
.search {
  @apply px-1 py-1 border-2 focus:outline-none;
}
.items {
  @apply flex flex-wrap gap-3 justify-center;
}
.item {
  @apply bg-white w-44 lg:w-56 shadow-xl rounded-sm;
}
.item-image {
  @apply h-40 mx-auto py-3 lg:py-1;
}
/* Index End */

/* Detail start */
.navigate {
  @apply pt-16 lg:pt-20 pb-10 px-3 lg:px-10 text-lg;
}
.detail-image {
  @apply h-36 lg:h-56;
}
.flow {
  @apply mt-7 px-5 border border-black rounded-lg w-fit bg-[#EEEDED];
}
.flow-text {
  @apply text-xl font-bold py-3;
}
.flow-icon {
  @apply w-[160px] bg-white rounded-lg flex items-center justify-center gap-3 py-2;
}
/* Detail End */

/*  Footer Start */
.footer-parent {
    @apply bg-slate-800 pt-24 pb-12;
  }
  .footer-flex {
    @apply items-center justify-center md:flex;
  }
  .footer-left {
    @apply mb-12 w-full px-4 font-medium text-slate-300 md:max-w-xs;
  }
  .footer-left-name {
    @apply mb-5 text-4xl font-bold ;
  }
  .footer-right {
    @apply mb-12 w-full md:max-w-xs;
  }
  .footer-right-sosmed {
    @apply mb-5 flex items-center justify-center;
  }
  .footer-right-sosmed-icon {
    @apply mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300  hover:text-white;
  }
  .footer-dibuat {
    @apply pt-7 text-center text-xs font-medium text-slate-500
  }
  .footer-name {
    @apply font-bold ;
  }
  /*  Footer End */
  