@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;
}

.change-color {
    filter: invert(100%);
}

.button-yellow {
  @apply bg-button2 text-white px-5 py-2 rounded-xl
}
.button-red {
  @apply bg-[#E7230D] text-white px-5 py-2 rounded-xl
}
.button-green {
  @apply bg-green-500 text-white px-5 py-2 rounded-xl
}
/*  Footer Start */
.footer-parent {
    @apply bg-slate-800 pt-24 pb-12;
  }
  .footer-flex {
    @apply items-center justify-center md:flex;
  }
  .footer-left {
    @apply mb-12 w-full px-4 font-medium text-slate-300 md:max-w-xs;
  }
  .footer-left-name {
    @apply mb-5 text-4xl font-bold ;
  }
  .footer-right {
    @apply mb-12 w-full md:max-w-xs;
  }
  .footer-right-sosmed {
    @apply mb-5 flex items-center justify-center;
  }
  .footer-right-sosmed-icon {
    @apply mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300  hover:text-white;
  }
  .footer-dibuat {
    @apply pt-7 text-center text-xs font-medium text-slate-500
  }
  .footer-name {
    @apply font-bold ;
  }
  /*  Footer End */
  